html{
  width: auto;
  height: 768px;
  background-color: #494949;
}


p {
    color: white;
}
svg { height:100% }
#bg1 {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  z-index: -2;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#bg2 {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  z-index: -2;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}


.items {
    border: 0px solid;
    border-radius: 25px;
    border-width: thick;
    padding: 20px;
    display: none;
    width: 60%;
    height: 575px;
    padding: 20px;
    margin: 30px auto;
    font-family: 'Source Code Pro', monospace;
    font-size: .80em;
    box-shadow: 5px 10px 18px black;
    background-color: rgb(0,35,15,.60);  
    text-align: center;
    

}


footer{
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
margin: 20px 0px 0px 0px;
}

@keyframes example {
    from, to { background-color: yellow; }
    33% { background-color: green; }
    66% { background-color: blue; }
}

#shadow{
    margin: 0px auto;
    width: 300px;
    height: 30px;
    border: 0px solid;
    border-radius: 100px;
    background-color: rgb(0,10,5,.85);
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count: infinite;
}
 

#backpack {
   margin: 10% auto;
   display:block;
}

#item1 {
    display:none;

}
#item1 > img{
    width: 23em;
    margin: 75px auto;
}
#item2 {
    display:none;
}
#item3 {
    display:none;
}

@media only screen and (min-width: 769px) {
    #item1 > img{
        width: 32em;
    }
    #item2 > img{
        width: 32em;
    }
    #item3 > img{
        width: 32em;
    }
    #backpack{
        width: 25em;
        margin: 175px auto;

    }
    #bg1 {
      /* Set rules to fill background */
      min-height: 100%;
      min-width: 1024px;
      z-index: -2;
      /* Set up proportionate scaling */
      width: 100%;
      height: 100%;	
      /* Set up positioning */
      position: fixed;
      top: 0;
      left: 0;
      display: block;
    }
    #bg2 {
      /* Set rules to fill background */
      min-height: 100%;
      min-width: 1024px;
      z-index: -2;
      /* Set up proportionate scaling */
      width: 100%;
      height: 100%;	
      /* Set up positioning */
      position: fixed;
      top: 0;
      left: 0;
      display: none;
    }
    
}
.modelButton {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: limegreen;
    background-color: rgb(0,35,15,.75);  
   
    
}

#m1 {
    
    margin-left: calc(50% + 130px);
    margin-top: 65px;
}
#m2 {
    
    margin-left: calc(50% - 165px);
    margin-top: 210px;
}
#m3 {
    
    margin-left: calc(50% + 200px);
    margin-top: 200px;
}
#m1:hover {
    
    margin-left: calc(50% + 130px);
    margin-top: 65px;
    transition: all 0.5s ease-out;
    background-color: limegreen;
    width: 100px;
    
}
#m2:hover {
    
    margin-left: calc(50% - 165px);
    margin-top: 210px;
    transition: all 0.5s ease-out;
    background-color: limegreen;
    width: 100px;
}
#m3:hover {
    
    margin-left: calc(50% + 200px);
    margin-top: 200px;
    transition: all 0.5s ease-out;
    background-color: limegreen;
    width: 100px;
}
